
body {
    background-color: #008080;
}
#body2 {
    background-image: url(../image/bk.jpg);
    background-color: #8FBC8F;
    background-size: cover;
}
#Hheader{
    font-family: 'Chewy';
    color: #00008B;
    text-align: center;
}
#AMheader{
font-family: 'Chewy';
    color: #00008B;
    text-align: center;
}
#Mheader{
font-family: 'Chewy';
    color: #00008B;
    text-align: center;
}
#Oheader{
font-family: 'Chewy';
    color: #00008B;
    text-align: center;
}
#navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;	
    overflow: hidden;
    background-color: #006699;
    width:100%
    clear:left;
    float:left;
    position:relative;
    left:50%;
    text-align:center;    
}
#navi li {
    float: left;
    display:block;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
}
#navi li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navi li a:hover {
    background-color: #000080;
}
#navi2 {
   float:left;
   width:100%;
   background:transparent;
   overflow:hidden;
   position:relative;
}
#navi2 ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#navi2 ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#navi2 ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#ddd;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
}
#navi2 ul li a:hover {
   background:#000080;
   color:#fff;
}

#firsth1  {
    font-family: 'Mali';
    color: #00008B;
    font-size: 30px;
    }
#p101  {
    font-family: 'Kalam';
    color: #000000;
    font-size: 1.5em;
    text-align: left;
}    
.container {
    position: relative;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#firstimg { 
    width: 100%;
    height: auto;
    opacity: 0.7;
}
h1  {
    font-family: 'Chewy';
    color: #00008B;
    text-align: center;
    }

h2  {
    font-family: 'Amaranth';
    color: #00008B;
    text-align: center;
}

h3  {
    font-family: 'Amaranth';
    color: #00008B;
    text-align: center;
}

h6  {
    font-family: 'Yrsa';
    color: #000000;
    text-align: center;
}

p  {
    font-family: 'Kalam';
    color: #000000;
    font-size: 16px;
    text-align: center;
}

.profile img {
    width: 40%;
    height: 300px;
    float: right;
    margin: 10px;
 
}
.contents {
    width: 80%;
    float: right:
}
