
body {
    background-color: #FFFAF0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;	
    overflow: hidden;
    background-color: #333399;
    position: fixed;
    top: 0;
    width: 30%;
}


li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #000080;
}

h1  {
    font-family: 'Yrsa';
    color: #00008B;
    text-align: left;
    }

#firsth1  {
    font-family: 'Mali';
    color: #00008B;
    font-size: 30px;
    }

h2  {
    font-family: 'Yrsa';
    color: #00008B;
    text-align: left;
}

h3  {
    font-family: 'Yrsa';
    color: #00008B;
    text-align: left;
}

h6  {
    font-family: 'Kalam';
    color: #000000;
    text-align: left;
}

p  {
    font-family: 'Kalam';
    color: #000000;
    font-size: 18px;
    text-align: left;
}

.container {
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#firstimg { 
    width: 100%;
    height: auto;
    opacity: 0.7;
}


